<h1>Top locations to visit in The Netherlands.</h1>

<p>This component demonstrates usage of the Locations API.</p>

<p *ngIf="!locations"><em>Loading...</em></p>

<table class='table' *ngIf="locations">
  <thead>
  <tr>
    <th>Name</th>
    <th>Summary</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let location of locations">
    <td>
      <a routerLink="/places/{{location.id}}/{{ location.name }}">{{ location.name }}</a>
    </td>
    <td>{{ location.summary }}</td>
    <td><img width="100" height="100" src="{{ location.imageUri }}"></td>
  </tr>
  </tbody>
</table>
